<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="basicPO">
            <h2><span jhiTranslate="onCatalogApp.basicPO.detail.title">Basic PO</span> {{basicPO.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onCatalogApp.basicPO.poId">Po Id</span></dt>
                <dd>
                    <span>{{basicPO.poId}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.name">Name</span></dt>
                <dd>
                    <span>{{basicPO.name}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.characteristics">Characteristics</span></dt>
                <dd>
                    <span *ngFor="let characteristics of basicPO.characteristics; let last = last">
                        <a [routerLink]="['/characteristic', characteristics?.id, 'view' ]">{{characteristics.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.optionalServices">Optional Services</span></dt>
                <dd>
                    <span *ngFor="let optionalServices of basicPO.optionalServices; let last = last">
                        <a [routerLink]="['/optional-service', optionalServices?.id, 'view' ]">{{optionalServices.serviceId}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.poServices">Po Services</span></dt>
                <dd>
                    <span *ngFor="let poServices of basicPO.poServices; let last = last">
                        <a [routerLink]="['/po-service', poServices?.id, 'view' ]">{{poServices.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.netResources">Net Resources</span></dt>
                <dd>
                    <span *ngFor="let netResources of basicPO.netResources; let last = last">
                        <a [routerLink]="['/net-resource', netResources?.id, 'view' ]">{{netResources.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.chargingSystem">Charging System</span></dt>
                <dd>
                    <span *ngFor="let chargingSystem of basicPO.chargingSystems; let last = last">
                        <a [routerLink]="['/charging-system', chargingSystem?.id, 'view' ]">{{chargingSystem.offerTemplate}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.bSCSs">B SC Ss</span></dt>
                <dd>
                    <span *ngFor="let bSCSs of basicPO.bSCSses; let last = last">
                        <a [routerLink]="['/bscs', bSCSs?.id, 'view' ]">{{bSCSs.bscsService}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.catalog">Catalog</span></dt>
                <dd>
                    <div *ngIf="basicPO.catalog">
                        <a [routerLink]="['/catalog', basicPO.catalog?.id, 'view']">{{basicPO.catalog?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/basic-po', basicPO.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
