<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="basicPO">
            <h2><span jhiTranslate="onCatalogApp.basicPO.detail.title">Basic PO</span> {{basicPO.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onCatalogApp.basicPO.poId">Po Id</span></dt>
                <dd>
                    <span>{{basicPO.poId}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.name">Name</span></dt>
                <dd>
                    <span>{{basicPO.name}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.basicPO.catalog">Catalog</span></dt>
                <dd>
                    <div *ngIf="basicPO.catalog">
                        <a [routerLink]="['/catalog', basicPO.catalog?.id, 'view']">{{basicPO.catalog?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/basic-po', basicPO.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
