<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-basic-po-heading" jhiTranslate="onCatalogApp.basicPO.home.createOrEditLabel">Create or edit a Basic PO</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!basicPO.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="basicPO.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onCatalogApp.basicPO.poId" for="field_poId">Po Id</label>
                    <input type="text" class="form-control" name="poId" id="field_poId"
                        [(ngModel)]="basicPO.poId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onCatalogApp.basicPO.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="basicPO.name" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="onCatalogApp.basicPO.characteristics" for="field_characteristics">Characteristics</label>
                    <select class="form-control" id="field_characteristics" multiple name="characteristics" [(ngModel)]="basicPO.characteristics">
                        <option [ngValue]="getSelected(basicPO.characteristics, characteristicOption)" *ngFor="let characteristicOption of characteristics; trackBy: trackCharacteristicById">{{characteristicOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="onCatalogApp.basicPO.optionalServices" for="field_optionalServices">Optional Services</label>
                    <select class="form-control" id="field_optionalServices" multiple name="optionalServices" [(ngModel)]="basicPO.optionalServices">
                        <option [ngValue]="getSelected(basicPO.optionalServices, optionalServiceOption)" *ngFor="let optionalServiceOption of optionalservices; trackBy: trackOptionalServiceById">{{optionalServiceOption.serviceId}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="onCatalogApp.basicPO.poServices" for="field_poServices">Po Services</label>
                    <select class="form-control" id="field_poServices" multiple name="poServices" [(ngModel)]="basicPO.poServices">
                        <option [ngValue]="getSelected(basicPO.poServices, poServiceOption)" *ngFor="let poServiceOption of poservices; trackBy: trackPoServiceById">{{poServiceOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="onCatalogApp.basicPO.netResources" for="field_netResources">Net Resources</label>
                    <select class="form-control" id="field_netResources" multiple name="netResources" [(ngModel)]="basicPO.netResources">
                        <option [ngValue]="getSelected(basicPO.netResources, netResourceOption)" *ngFor="let netResourceOption of netresources; trackBy: trackNetResourceById">{{netResourceOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="onCatalogApp.basicPO.chargingSystem" for="field_chargingSystem">Charging System</label>
                    <select class="form-control" id="field_chargingSystem" multiple name="chargingSystem" [(ngModel)]="basicPO.chargingSystems">
                        <option [ngValue]="getSelected(basicPO.chargingSystems, chargingSystemOption)" *ngFor="let chargingSystemOption of chargingsystems; trackBy: trackChargingSystemById">{{chargingSystemOption.offerTemplate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="onCatalogApp.basicPO.bSCSs" for="field_bSCSs">B SC Ss</label>
                    <select class="form-control" id="field_bSCSs" multiple name="bSCSs" [(ngModel)]="basicPO.bSCSses">
                        <option [ngValue]="getSelected(basicPO.bSCSses, bSCSOption)" *ngFor="let bSCSOption of bscs; trackBy: trackBSCSById">{{bSCSOption.bscsService}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="onCatalogApp.basicPO.catalog" for="field_catalog">Catalog</label>
                    <select class="form-control" id="field_catalog" name="catalog" [(ngModel)]="basicPO.catalog" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="catalogOption.id === basicPO.catalog?.id ? basicPO.catalog : catalogOption" *ngFor="let catalogOption of catalogs; trackBy: trackCatalogById">{{catalogOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
