<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="poService">
            <h2><span jhiTranslate="onCatalogApp.poService.detail.title">Po Service</span> {{poService.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onCatalogApp.poService.name">Name</span></dt>
                <dd>
                    <span>{{poService.name}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.poService.type">Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'onCatalogApp.PoServiceType.' + poService.type}}">{{poService.type}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/po-service', poService.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
