<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="characteristic">
            <h2><span jhiTranslate="onCatalogApp.characteristic.detail.title">Characteristic</span> {{characteristic.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="onCatalogApp.characteristic.name">Name</span></dt>
                <dd>
                    <span>{{characteristic.name}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.characteristic.value">Value</span></dt>
                <dd>
                    <span>{{characteristic.value}}</span>
                </dd>
                <dt><span jhiTranslate="onCatalogApp.characteristic.basicPO">Basic PO</span></dt>
                <dd>
                    <div *ngIf="characteristic.basicPO">
                        <a [routerLink]="['/basic-po', characteristic.basicPO?.id, 'view']">{{characteristic.basicPO?.poId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/characteristic', characteristic.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
